{{> layout/header}}

<section>
    <form action="/store/{{model.id}}/update" method="POST">
        <input type="text" name="name" value="{{model.name}} "><br>
        <input type="text" name="stock" value="{{model.stock}}"><br>
        <input type="text" name="price" value="{{model.price}}"><br>
        <button type="submit">상품수정</button>
    </form>
</section>

</body>
</html>